@charset "UTF-8";

/* RESET */
* {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
textarea:focus, input:focus, select:focus {
    outline: 0;
}
/* END - RESET */

/* VARIAVEIS */
:root {
    --color-bg: #1f1e24;
    --color-primary: #e3d804; 
    --color--secundary: #181d23;
    --color-clear: #ecf0f2;
    --color-dark: #02050a;
    --color-border: #2d313d;
}

/* PADRÃO */
body {
    font-family: 'Montserrat', 'sans-serif';
    background-color: var(--color-bg);
}

.row {
    display: flex;
    justify-content: space-around;
}

.btn-defult {
    padding: 15px 10px 15px 10px;
    margin-top: 10px;
    border-radius: 25px;
    background-color: var(--color--secundary);
    border: 3px solid var(--color-primary);
    color: #fff;
    font-weight: 700;
    transition: all .5s;
}

.btn-defult:hover {
    background-color: var(--color-primary);
    color: var(--color--secundary);
}

.btn-primary {
    padding: 10px;
    border-radius: 25px;
    background-color: var(--color--secundary);
    border: 2px solid var(--color-border);
    color: #fff;
    font-size: 10pt;
    font-weight: 500;
    transition: all .5s;
}

.btn-primary:active {
    border: 2px solid var(--color-primary);
}

/* START - EDIT HEADER */
.cabecalho {
    height: 100vh;
    background-image: url("../image/web/banner-bg.jpg");
    background-color: #000000;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}

#menu-mobile{
    display: none;
}

.menu-web{
    height: 100px;
    display: flex;
    justify-content: space-around;
    padding-top: 15px;
    align-items: center;
    color: #fff;
}

.menu-web ul {
    display: flex;
    justify-content: center;
    text-align: center;
}

.menu-web ul li {
    cursor: pointer;
    padding: 15px;
    font-weight: 700;
    transition: all .5s;
}

.menu-web ul li:hover, .menu-web ul li:active {
    color: var(--color-primary);
}

.menu-web h1 {
    font-size: 18pt;
    font-weight: 700;
}

.menu-web h1 span{
    color: var(--color-primary);
}

.menu-web i{
    font-size: 18pt;
}

.menu-web button{
    margin-left: 15px;
}

.menu-web i.fa-bars {
    display: none;
}

.page-cabecalho {
    width: 50%;
    padding: 100px 30px 0px 30px;
}

.page-cabecalho h6 {
    color: var(--color-primary);
    font-weight: 700;
}

.page-cabecalho h1 {
    width: 90%;
    color: #fff;
    font-weight: 700;
    font-size: 41pt;
}

.atrs {
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.atrs p, .atrs ul{
    margin-top: 5px;
    margin-bottom: 5px;
    color: #fff;
    font-weight: 500;    
}

.atrs ul li {
    padding-right: 15px;
}

.atrs ul li i {
    color: var(--color-primary);
    padding-right: 5px;
}

.atrs span {
    margin: 5px 0px 15px 5px;
}

.atr-esp {
    padding: 2px;
    background-color: #fff;
    color: var(--color--secundary);
    font-weight: 700;      
}

.atr {
    padding: 2px;
    border: 3px solid #fff;
    color: #fff;
    font-weight: 700;        
}
/* END - EDIT HEADER */

/* START - EDIT MAIN */
.catalogo, .newslatter {
    padding: 50px 30px 50px 30px;
}

.catalogo h6 {
    color: var(--color-clear);
    font-weight: 700;
    font-size: 9pt;
}

.catalogo h1 {
    color: #fff;
    font-weight: 900;
    font-size: 21pt;
}

.catalogo .content-catalogo {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.catalogo hr {
    width: 10%;
    height: 4px;
    background-color: var(--color-primary);
}

.catalogo .btn-primary {
    margin-right: 20px;
    align-items: center;
}

.btn-primary hr {
    width: 1px;
    height: 15px;
    margin: 0px 2px 0px 2px;
    padding: 1px;
    border-radius: 25px;
    background-color: var(--color-border);
}

.btn-primary i {
    cursor: pointer;
    padding: 0px 5px 0px 5px;
}

.btn-primary i:hover {
    color: var(--color-primary);
}

.container-film {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
}

.content-film {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    padding: 20px;
    background-color: var(--color-border);
}

.content-film img {
    border-radius: 5px;
}

.content-film h1 {
    color: #fff;
    font-weight: 700;
    font-size: 14pt;
}

.content-film p {
    margin: 5px;
    color: var(--color-clear);
    font-weight: 500;
    font-size: 9pt;
}

.content-film hr {
    width: 50%;
    height: 1px;
    margin: 5px;    
    background-color: #000;
}

.content-film .atr {
    padding: 2px;
    margin-right: 5px;
    background-color: var(--color-dark);
    color: var(--color-border);
    border: none;
    font-size: 9pt;
    font-weight: 700;        
}

.content-film ul{
    color: #fff;
    font-weight: 500;    
}

.content-film ul li {
    padding-right: 15px;
    font-size: 9pt;
}

.content-film ul li i {
    color: var(--color-primary);
    padding-right: 5px;
}

.newslatter {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-image: /* top, transparent black, faked with gradient */ 
    linear-gradient(
        #2d313d25,
        #2d313d25
    ),
    /* bottom, image */  url("../image/web/bg-service.jpg");
    background-color: #000000;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}

.newslatter div {
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.newslatter h1 {
    font-size: 18pt;
    font-weight: 700;
    color: #fff;
}

.newslatter h1 span{
    color: var(--color-primary);
}

.newslatter ul {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.newslatter ul li {
    cursor: pointer;
    padding: 5px 5px 5px 15px;
    color: var(--color-clear);
    font-weight: 500;
}

.newslatter ul li:hover {
    color: var(--color-primary);
}

.newslatter input {
    height: 45px;
    padding: 0px 10px 0px 10px;
    background-color: var(--color--secundary);
    color: var(--color-clear);
    border-radius: 25px 0px 0px 25px;
    box-shadow: inset 0 0 1rem var(--color-dark);
}

.newslatter label {
    display: flex;
    align-items: center;
    height: 45px;
    padding: 0px 15px 0px 15px;
    background-color: var(--color--secundary);
    color: var(--color-clear);
    border-radius: 0px 25px 25px 0px;
    box-shadow: inset 0 0 1rem var(--color-dark);
    list-style: none;
}

.newslatter hr {
    width: 100%;
    height: 1px;
    margin: 5px;
    border: 1px solid rgba(255, 255, 255, 0.26);    
    background-color: transparent;
}

.newslatter .redes-sociais i {
    color: var(--color-clear);
    padding: 15px;
    margin: 5px;
    border-radius: 100%;
    background-color: var(--color--secundary);
    box-shadow: inset 0 0 1rem var(--color-dark);
    transition: all .5s;
}

.redes-sociais i:hover {
    cursor: pointer;
    box-shadow: 0 0 1rem var(--color-dark);
    color: var(--color-primary);
}
/* END - EDIT MAIN */

/* START - EDIT FOOTER */
footer {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color--secundary);
}

footer p {
    color: #fff;
    font-size: 9pt;
    font-weight: 500;
}
footer img {
    max-width: 314px;
    height: 29px;
}
/* END - EDIT FOOTER */



/* Setando Media 800px
 * Código abaixo é responsavel por toda responsividade do site em 
 * dispositivos menores de 800px(Tablet, celulares, etc...).
 */
@media screen and (max-width: 800px) {
    /* START - EDIT HEADER */
    /* #nav-menu,  */
    #btn-logon,
    #menu-mobile,
    #nav-menu {
        display: none;
    }

    .cabecalho {
        height: 70vh;
    }

    .menu-web i.fa-bars {
        display: block;
    }

    .menu-web {
        padding: 0px 20px 0px 20px;
        justify-content: space-between;
    }

    .menu-web div {
        display: flex;
        justify-content: space-around;
    }

    .menu-web i {
        padding-right: 35px;
    }

    .menu-web, .menu-mobile {
        display: flex;
        padding-top: 15px;
        color: #fff;
    }

    .menu-mobile {
        flex-direction: column;
    }

    .menu-mobile ul {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .menu-mobile ul li {
        cursor: pointer;
        padding: 15px;
    }

    .menu-mobile ul hr {
        border: solid 1px var(--color-lp-clear);
    }

    .menu-mobile h1, .menu-web h1 {
        font-size: 18pt;
        font-weight: 700;
    }

    .menu-mobile h1 span, .menu-web h1 span {
        color: var(--color-primary);
    }

    .menu-mobile i, .menu-web i {
        font-size: 21pt;
    }

    .page-cabecalho {
        width: 100%;
    }
    /* END - EDIT HEADER */

    /* START - EDIT MAIN */
    .container-film {
        flex-wrap: wrap;
    }

    .content-film {
        width: 40%;
        margin: 0px 0px 15px 0px;
    }

    .content-film h1 {
        font-size: 18pt;
    }
    
    .content-film p {
        font-size: 11pt;
    }
    
    .content-film ul li {
        font-size: 11pt;
    }

    .newslatter div {
        padding: 10px;
    }
    
    .newslatter ul li {
        padding-right: 15px;
    }
    
    .newslatter input {
        height: 45px;
        padding-left: 10px;
    }

    .newslatter label i {
        font-size: 11pt;
    }
    /* START - EDIT MAIN */
}

/* Setando Media 450px
 * Código abaixo é responsavel por toda responsividade do site em 
 * dispositivos menores de 450px(Tablet, celulares, etc...).
 */
 @media screen and (max-width: 550px) {
    /* START - EDIT HEADER */
    #search {
        display: none;
    }

    .cabecalho {
        height: 70vh;
    }

    .page-cabecalho {
        padding: 80px 15px 0px 15px;
    }
    
    .page-cabecalho h1 {
        font-size: 25pt;
    }
    
    .atrs {
        width: 90%;
        flex-wrap: wrap;
    }
    /* END - EDIT HEADER */

    /* START - EDIT MAIN */
    .catalogo .content-catalogo, .catalogo .content-catalogo div{
        flex-wrap: wrap;
    }
    
    .catalogo hr {
        width: 30%;
        margin-bottom: 5px;
        margin-top: 5px;
    }
    
    .catalogo .btn-primary {
        margin-right: 5px;
        margin-bottom: 15px;
        align-items: center;
    }

    .container-film {
        flex-wrap: wrap;
    }

    .content-film {
        width: 100%;
    }
    
    .content-film p {
        font-size: 14pt;
    }
    
    .content-film ul li {
        font-size: 14pt;
    }

    .newslatter div {
        padding: 15px;
        flex-direction: column;
        align-items: center;
    }

    .newslatter .search-input,.newslatter  .redes-sociais {
        flex-direction: row;
    }
    
    .newslatter h1 {
        margin-bottom: 15px;
    }
    
    .newslatter ul li {
        padding: 5px 5px 5px 5px;
    }
    /* START - EDIT MAIN */

    /* START - EDIT FOOTER */
    footer {
        flex-direction: column;
    }

    footer p {
        margin-bottom: 25px;
    }
    /* END - EDIT FOOTER */
}

/* Setando Media 370px
 * Código abaixo é responsavel por toda responsividade do site em 
 * dispositivos menores de 370px(Tablet, celulares, etc...).
 */
 @media screen and (max-width: 380px) {
    /* START - EDIT HEADER */
    .cabecalho {
        height: 80vh;
    }

    .menu-web i{
        font-size: 14pt;
    }

    .page-cabecalho {
        padding: 50px 15px 0px 15px;
    }
    /* END - EDIT HEADER */

    /* START - EDIT MAIN */
    .catalogo {
        padding: 50px 15px 50px 15px;
    }
    
    .catalogo h6 {
        font-size: 11pt;
    }
    
    .catalogo .content-catalogo, .catalogo .content-catalogo div{
        flex-wrap: wrap;
    }
    
    .catalogo hr {
        width: 30%;
        margin-bottom: 5px;
        margin-top: 5px;
    }
    
    .catalogo .btn-primary {
        margin-right: 5px;
        margin-bottom: 15px;
        align-items: center;
    }
    /* START - EDIT MAIN */
}

/* Setando Media 360px
 * Código abaixo é responsavel por toda responsividade do site em 
 * dispositivos menores de 360px(Tablet, celulares, etc...).
 */
@media screen and (max-width: 280px) {
    /* START - EDIT HEADER */
    .menu-web {
        padding: 0px 5px 0px 5px;
        justify-content: space-between;
    }

    .page-cabecalho h1 {
        font-size: 21pt;
    }
    /* END - EDIT HEADER */

    /* START - EDIT MAIN */
    .content-catalogo {
        padding-bottom: 50px;
    }

    .content-catalogo div {
        justify-content: space-between;
    }
    
    .catalogo .btn-primary {
        margin-bottom: 5px;
    }
    
    .content-film hr {
        height: 2px;
    }
    
    .content-film .atr {
        font-size: 9pt;     
    }
    
    .content-film ul li {
        font-size: 9pt;
    }
    /* START - EDIT MAIN */

    /* START - EDIT FOOTER */
    footer img {
        max-width: 240px;
        height: 22px;
    }
    /* END - EDIT FOOTER */
}